@import '../less/bootstrap.less';
@tableBackgroundHover:#F2FFEE;
#container{
	padding:5px 10px 15px;
}
.mosAdmin{
	margin-right:15px;
}
.table{
	th{
		text-align: center;
		color: #5A6955;
		font-weight: normal;
	}
	td{
		font-family: verdana;
		font-size:13px;
	}
	td.money{
		color:#F00;
		text-align:right;
	}
}