@import '../less/bootstrap.less';
@tableBackgroundHover:#DCE9D6;

#container{
	padding:5px 10px 15px;
}
.mosAdmin{
	margin-right:15px;
}
.table{
	th{
		text-align: center;
		color: #5A6955;
		font-weight: normal;
	}
	td{
		font-family: verdana;
		font-size:13px;
	}
	td.money{
		color:#F00;
		text-align:right;
	}
}
.assets-info{
	th{
		width:80px;
		text-align: right;
		background: #DCE9D6 !important;
	}
	td{
		background: #FFF !important;
	}
}
#myModal{
	.modal-header{
		h3{
			border:none;
		}
	}
}
.remark{
	color:#F00;
}
input.remark{
	background:#FFE;
	color:#F00;
}
.total_result{
	font-size:13px;
	margin-left:10px;
	color:#5c8168;
}
.modal{
	z-index:9999;
}
